/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container__images {
    display: flex;
    width: 80%;
}

.image {
    background: no-repeat center / cover;
    position: relative;
    height: 80vh;
    margin: 10px;
    border-radius: 50px;
    flex: 0.5;
    cursor: pointer;
    transition: flex 0.7s ease-in;
}

.image.active {
    flex: 5;
}

.image > h3 {
    color: #fff;
    font-size: 24px;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
}

.image.active > h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 739px) {
    .container {
        width: 100vw;
        -webkit-tap-highlight-color: transparent;
    }
  
    .image:nth-of-type(4),
    .image:nth-of-type(5) {
        display: none;
    }
}
